@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin,devanagari);

* {
	margin: 0px;
	box-sizing: border-box;
}
body {
	font-family:"Noto Sans","Noto Sans Devanagari","utsaah", arial , sans-serif ;
	background: rgb(236,236,236);

}
.Footer {
	width: 100%;
	padding: 10px;
	background: gray;
}
.Wrapper {
	width: 100%;
}
@media screen and (min-width: 960px){
	.Wrapper {
		width: 960px;
		margin: 0 auto;
    }
}
.Logo {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 60px;
	height: 60px;
	background: #B71C1C;
	color: white;
	padding: 10px;
	z-index: 10;
	text-align: center;
	
}
.Cover {
	width: 100%;
	height: 400px;
	margin-bottom: 10px;
	padding: 10px;
	position: relative;
	background: url("cover.jpg");
	background-size: auto 100%;
	text-align: center;
	
}
.Cover-title {
	margin-top: 120px;
	text-align: center;
}
.Cover-titleMain {
	font-weight: 700;
	padding: 20px 15px;
	text-align: center;
	font-size: 18px;
	display: inline-block;
	line-height: 1.4;
	color: white;
	background: rgba(0,0,0,0.9);

}
.Cover-hint {
	color: white;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}
.Cover-circle {
	background: white;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	margin: 10px auto;
}
@media screen and (min-width: 800px){
	.Cover {
		height: 80vh;
		background-size: 100% auto;
	}
	.Cover-title {
		margin-top: 140px;
		text-align: center;
    }
	.Cover-titleMain {
	    padding: 30px;
	    text-align: center;
	    font-size: 24px;
	    display: inline-block;
	    line-height: 1.4;
	    color: white;
	    background: rgba(0,0,0,0.9);

    }
}



.History {
	position: relative;
	padding-bottom: 303px;
	padding-top: 40px;
}
.Mark{
	background: rgb(229,185,73);
	width:25px;
	height:25px;
	border: 5px solid black;
	margin-left: -10px;
	transform: rotate(45deg);

}
.Mark--end{
	position: absolute;
	left:0;
	bottom: 0;
}

.Line {
	position:absolute;
	left:50%;
	height: 100%;
	width: 5px;
    background-color: black;
}
.Line-follow {
	position:absolute;
    top:0;
    left:0;
	width: 5px;
	background: rgb(229,185,73);
	height: 0px;
}
.Section {
	margin-bottom: 100px;
	position: relative;

}
.Event {
	margin-top: 40px;
	padding: 10px;
	width: 40%;
	margin-left: -50%;
	display: inline-block;
	background: white;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.Event-tableImg {
	width: 100%;
}
p {
	margin: 10px 0px;
}

.People {
	width: 50%;
	margin-top: 10px;
	padding-right: 20px;
	text-align: right;
}
.People-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);

}
@media screen and (min-width: 800px){
	.People {
		width: 40%;
		margin-left: 5%;
	
    }
	.People-img {
		margin-right: 5px;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		box-shadow: 0 1px 2px rgba(0,0,0,.2);
    }
}

.Info {
	display: inline-block;
	width: 40%;
	position: absolute;
	top: 40px;
	right: 5%;
	font-size: 20px;
	font-weight: 600;

}

