@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin,devanagari);

* {
	margin: 0px;
	box-sizing: border-box;
}
body {
	font-family:"Noto Sans","Noto Sans Devanagari","utsaah", arial , sans-serif ;
	background: rgb(229,228,228);

}
.Footer {
	width: 100%;
	padding: 10px;
	background: gray;
}
.Wrapper {
	width: 100%;
}
.Wrapper.is-hide {
    position: absolute;
    left: -100%;
}
@media screen and (min-width: 960px){
	.Wrapper {
		width: 960px;
		margin: 0 auto;
    }
}
.Logo {
	display: none;
}
/*@media screen and (min-width: 400px){
	.Logo {
		display: block;
	    position: fixed;
	    left: 10px;
	    top: 55px;
	    background: rgb(158,206,202);
	    color: white;
	    padding: 10px;
	    z-index: 100;
	    text-align: center;
	    font-size: 22px;
	
   }
}*/
.Topbar {

	width: 100%;
	height: 40px;
	position: relative;
	background: rgb(158,206,202);
	border-bottom: 1px solid black;
	box-shadow: 0 2px 0px 5px rgba(205,204,204,0.7);
	margin-bottom: 5px;
	position: fixed;

	padding-left: 10px;
	font-weight: 800;
	padding-top: 8px;

	z-index: 10;
}
.Topbar-year {
	color: white;
	position: absolute;
	left: 30%;
	top:0;

	width: 120px;
	text-align: center;
	font-weight: 100;
	padding-top: 6px;
}
.Topbar-menu {
	top: 0;
	float: right;
}
.Topbar-menuItem, .Topbar-menuItem:visited, .Topbar-menuItem:hover{
	margin-right: 10px;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	padding: 4px;
	color: rgb(53,55,54);
	text-decoration: none;
	cursor: pointer;
}
.Topbar-menuItem.is-active {
    background: gray;
    color: white;
}
.Cover {
	padding: 50px 10px 10px 10px;
	width: 100%;
	position: relative;
	text-align: center;
}
.Cover-img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 10px 0px;
}
.Cover-subtext {
	text-align: left;
}
.Cover-text {
	font-size: 20px;
	font-weight: 700;
	text-align: left;
}
@media screen and (min-width: 600px){
    .Cover {
    	margin-left: 30%;
    	position: relative;
    	text-align: left;
    }
    .Cover-img {
    	width: 120px;
    	height: 120px;
    	border-radius: 50%;
    	display: block;
    	position: relative;
    	left: -140px;
        top: 110px;
    }
    .Cover-text {
    	font-size: 20px;
    	font-weight: 700;
    	max-width: 50%;

    }
}
.History {
	position: relative;
	padding-bottom: 400px;
	padding-top: 40px;
}
.Mark{
	background: rgb(158,206,202);
	width: 10px;
	height: 10px;
	margin-left: -4px;
	z-index: 100;
	/*-webkit-transform: rotate(45deg);  Chrome, Safari, Opera 
	transform: rotate(45deg);*/
	border-radius: 100%;

}
.Mark--end{
	position: absolute;
	left:0;
	bottom: 0;
}

.Line {
	position:absolute;
	left: 30px;
	height: 100%;
	width: 2px;
    background-color: rgb(120,120,120);
}
@media screen and (min-width: 600px){
	.Line {
	   position:absolute;
	   left:30%;
	   height: 100%;
	   width: 2px;
       background-color: rgb(120,120,120);
    }
}
.Line-follow {
	position:absolute;
    top:0;
    left:0;
	width: 2px;
	background: rgb(158,206,202);
	height: 0px;
	z-index: 4;
}
.Section {
	margin-top: 100px;
	position: relative;
}

.Info {
	display: block;
	margin-left: 30px;
    
}
@media screen and (min-width: 600px){
	.Info {
	    display: inline-block;
	    margin-left: 0px;
        width: 30%;
        text-align: right;
        float: left;
        margin-right: 12px;
   }
}
.Info-text {
	margin-top: 4px;
}
.Info-textInner {
	padding: 20px 10px 4px 10px;
	display: block;
}
@media screen and (min-width: 600px){
	.Info-textInner {
	   padding: 20px 10px 4px 4px;
	   border-bottom: 1px dotted gray;
	   line-height: 30px;
	   display: inline-block;
    }
}
.Info-year {
	border-left: 1px solid gray;
	background: rgb(158,206,202);
    color: white;
    padding: 4px 50px;
    margin-bottom: 4px;
    display: inline-block;
    font-size: 22px;
    position: absolute;
    top: -50px;
    left: 30px;

}
@media screen and (min-width: 600px){
	.Info-year {
	    border-left: 2px solid gray;
	    background: rgb(158,206,202);
        color: white;
        padding: 4px 50px;
        margin-bottom: 4px;
        display: inline-block;
        font-size: 22px;
        position: absolute;
        top: -50px;
        left: 30%;

    }
}
.Info-date {
	background: rgb(158,206,202);
    color: white;
    padding: 4px 10px;
    margin-bottom: 4px;
    display: inline-block;
}
.Event {
	margin-left: 31px;
    margin-right: 8px;
	background: white;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	overflow:hidden;  _overflow:visible;  zoom:1;
	opacity: 0.1;
}
@media screen and (min-width: 600px){
	.Event {
	   width: 50%;
	   background: white;
	   box-shadow: 0 1px 2px rgba(0,0,0,.2);
	   overflow:hidden;  _overflow:visible;  zoom:1;
	   opacity: 0.1;
    }
}
.Event-text {
	padding: 5px 10px 5px 20px;
}
.Event-tableImg {
	width: 100%;
}
p {
	margin: 10px 0px;
}

.People {
   
}
.People-imgSet {
	padding-left: 20px;
}
.People-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);

}
.People-meta {
	background: rgb(220,220,220);
	font-size: 14px;
	padding: 8px;
}
/* -----------------------------------------------
             MENU
   ----------------------------------------------- */
.Menu {
	position: absolute;
	background: rgb(229,228,228);
	width: 0px;
	overflow: hidden;
	padding-bottom: 100px;
	top: 50px;
	right: -100%;

	transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.Menu.is-show {
	right: 0px;
	width: 100%;
	transition-property: right;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

    height: 100%;
    
}
.Menu-line {
	position: absolute;
	height: 100%;
	top: 40px;
	margin-left: 10px;
	border-left: 2px solid gray;
}
.Menu-title {
	color: gray;
	font-size: 20px;
	padding: 10px;
	text-align: center;
}
.Menu-item {

	position: relative;
	background: white;
	padding: 10px;
	margin: 5px 5px 5px 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.Menu-itemYear {
	color: #009688;
	font-weight: 800;
}
.Menu-itemTimeIndicator {
	width: 12px;
	height: 12px;
	border: 2px solid gray;
	border-radius: 50%;
	position: absolute;
	left: -20px;
	top: 20px;
}




